body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #464343;
}

/*  ---------------Navigation area-------------------------   */
.navigation {

    width: 100%;
    height: 80px;
  
}
.nav-bar ul{

list-style: none;
display: inline-flex;
float: right;
width: 40%;



}
.nav-bar ul li{

    margin-left: 20px;
    margin-top: 20px;
    }

.nav-bar ul li a{

        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: rgb(43, 43, 43);
        }

/*  ---------------Navigation area-------------------------   */

/*  ---------------Normal CSS-------------------------   */
.blue-color {

    color: rgb(0, 140, 255);
}
.half-width {

    width: 35%;
    margin-left: 5%;
    padding: 2%;
    float: left;
    height: 500px;

}
img {

    width: 100%;
}
h1 {

    font-size: 45px;
}
.anker-button {

    text-decoration: none;
    padding: 15px 30px;
    background-image: linear-gradient(45deg, rgb(122, 235, 255), rgb(0, 89, 255));
    font-weight: normal;
    color: white;
    border-radius: 5px;
    
  
}
p {
    color: #778899;
}
h2 {

    font-size: 30px;
}
h3{

    font-size: 20px;
}

section {

    height:500px;
}
/*  ---------------Normal CSS-------------------------   */


/*  ---------------Section about-me-------------------------   */
.about-me {

    height: 500px;
    margin-bottom: 100px;
}
.fa-download {

    margin-right: 10px;
}

/*  ---------------Section about-me-------------------------   */


/*  -----------------------------Section working-progect-------------------------   */
#working-progect h2{

    text-align: center;
    margin-bottom: 50px;
    
} 

#working-progect {

  
    background-color: rgb(247, 247, 247);
    margin-top: 80px;
    padding-top: 100px;
    width: 80%;
    margin-left: 10%;
    
}

.card-width {

    width: 25%;
    padding: 2%;
    height: 320px;
    margin-left: 3%;
    float: left;
    background-color: white;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;

}
/*  -----------------------------Section working-progect-------------------------   */

/*  -----------------------------footer-------------------------   */
#work-inqury h1 {

    text-align: center;
    color: white;
    padding: 75px 0px;
    font-size: 35px;
}
#work-inqury {

    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50%;
    margin: auto;
    height: 190px;
}

#last-span {

    font-size: 15px;
    margin-left: 20%;


}
footer {


    background-color: white;

}

#futter-buttom {

    text-align: center;
    font-weight: bolder;
    margin: 50px 0px;
}
#icones {

    width: 15%;
    display: inline-flex;

}

#icones .icones-style {


 
    height: 35px;
    margin-left: 10px;
    object-fit: contain;


}

#icones a {


    margin-right: 20px;

}
/*  -----------------------------footer-------------------------   */

/*  -----------------------------Extra skills part-------------------------   */
#extra-part {

    width: 60%;
    margin-left: 20%;
    margin-top: 60px;
    margin-bottom: 10px;
    height: 200px;
    text-align: center;
    background-color: rgb(246, 250, 237);
    padding: 20px;
   
}


.skills {

    height: 10px;
    float: left;
    box-shadow: none;
    background-color: rgb(241, 247, 230);

}
.skills h3{


    
    padding-top: 10px;


}
#html {

    width: 90%;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    border-top: 20px solid rgb(223, 223, 88);
 
}

#css {
    width: 80%;
    box-shadow: 1px 1px 5px black;
    border-top: 20px solid yellowgreen;
 
}
#JavaScript {

    width: 55%;
    box-shadow: 1px 1px 5px black;
    border-top: 20px solid rgb(50, 130, 205);
}
/*  -----------------------------Extra skills part end-------------------------   */

@media only screen and (max-width: 882px) {

    #work-inqury h1 {

        font-size: 25px;
    }
    
    #last-span {
    
        font-size: 10px;
        margin-left: 20%;
    
    
    }

 }

